body {
	background-color:rgb(96, 179, 235);
	color:rgb(32, 12, 12);
}
h1{
	text-align:center;
	color:rgb(20, 6, 143);
	font-family:arial,sans serif;
	font-size:5em;
	margin: 15px 10px 10px 10px;
	
}
.video{

}
p {
	color:rgb(60,60,60);
	font-family:sans serif;
	text-align:left;
	font: size 16px;;
}


.no-style{ 
	list-style-type:none; 
	margin:0;
	padding:0;
}
.horizontal li{
	background-color:rgb(60,100,250);
	float:left;
	margin: 0em 0em 2em 0em;
	padding:1em 5em 1em 5.5em;
}
.horizontal a{
	margin:0em;
	color:white;
	text-align:center;
	padding:0em 4em 0em 4em;
	font-size: 20px;
	text-decoration: none; 
}
.horizontal a:hover,.horizontal a:active{
	background-color:blue
}