   /** {  (el * se usa para dar una orden general los estilos css de la pagina )
        box-sizing: border-box;
        margin: 5px;  (para elegir el margen deseado )
        padding: 0;(para elegir el relleno del cuerpo deseado) }*/
   

body {

	background:linear-gradient(rgb(236, 9, 9) ,rgb(75, 142, 243),rgb(22, 22, 233) ,rgb(3, 3, 134)); /* dar el fondo a la pantalla ,titulo,texto,etc */
	margin: 15px;
	display: flex;
	flex-direction: column;
	
}
nav a:hover , a:active{  /*para que cuando el cursor pasa por encima esa palabra cambie de color*/
	background-color: rgb(3, 112, 185);
	display: flex;
	flex-direction: row;
	
	
}
.hamburguer{
	display: none;
	color: blue;
	font-size: 2.5em;
	

}


.mostrar{
	display: none;
}

.grid1{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	
}
.grid2{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}
.articulo{
	grid-column: 1/3 ;
	
}
.articulo2{
	grid-column: 3/5;

}
.articulo3{
	grid-column: 1/5;
}
h1{
	text-align:center; /* centrar el texto */
	color:rgb(235, 18, 18);/* dar color al texto */
	font-family:arial; /* elegir la forma de las letras */
	font-size:5em; /*elegir el tamaño de las letras */
	margin: 25px 0px ;
	padding: 60px 20px;
	background-image: url(../img.ingles_facil/banderas.jpeg);/* para colocar de fondo una imagen*/
	background-size: cover; /* para que la imagen se acomode sola a las medidas de la pantallas*/
	background-attachment: fixed;/*para que quede fija y haga el efecto que se en en pantalla */
    background-position:35%; 
	height: 350px;/* establecer el alto del elemento el alto */
	text-shadow: 5px 2px black;/*para hacer la sombra a un texto*/
	display: block;
	animation: h1 10s; /* para invocar a la animacion*/
	
}
#tamaño{ /* lo hice para ajustar el tamaño del background-image*/
	height: 458px;
	
}
@keyframes h1 { /*para realizar la animacion*/
	0% {
		opacity: 0;
		font-size: larger;
	}
	100%{
		opacity: 1;
		  
	}
	
}

.video{
	/* max-width:  para establecer el alto maximo del espacio a trabajar */
	border: 5px solid rgb(180, 41, 41); /* para establecer un borde*/
	background-color: rgb(3, 112, 185);
	margin: 50px ;
	box-shadow: 
	-5px -5px 10px rgb(231, 13, 231),
	3px 3px 10px blue;/*para hacer la sombra de elemento , el 3 elemento nos da la claridad de la sombra */
	
}

img{
	width: 450px;
	height: 720px;
}
.fot1{
	display: none;
}
.fot2{
	display: none;
}



h2{
	color:rgb(241, 238, 238);
	font-size: 5em;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 5px 2px rgb(0, 0, 7);
	margin-bottom: 0em;
	text-align: center;
}
h3{
	color: red;
	text-align: center;
	font-size: 28px ;
	margin: 0px;
}
h4{
	color: antiquewhite;
	font-size: 24px;
}
p {
	color:rgb(248, 251, 252);
	font-family:sans serif;
	text-align:left;
	text-shadow: 1px 1px rgb(2, 0, 10);
	font-size:  22px;
	margin: 0px 5px 0px 5px;
}
a{
	color: brown;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	background-color: rgb(125, 166, 243);
	margin: 20px;
	padding: 15px;
}
input , input:active{
      border-radius: 20px;
}
.centro{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin: 6px;
}


.no-style{ 
	list-style-type:none; 
	margin:0;
	padding:0;
}
.horizontal li{
	display: flex;
	/*background-image:url(../img.ingles_facil/ingles_portada.jpeg);*/
	/*background-size: cover;
	background-position:35%; */
	flex-direction: row;
	float:left;
	margin: 0em 0em 2em 0em; /* em = 16 px */
	padding:2em 5em 0em 4em;
}
.horizontal a{
	margin:0em;
	color:rgb(28, 11, 124);
	text-align:center;
	padding:0em 2em 0em 2em; /*para darle mas relleno al cuerpo*/
	font-size: 28px;
	text-decoration: none; /* para sacarle el subrallado*/
	
}


footer{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	align-items: center;
	height:250px;
	margin: 25 px ;
}

.sectionHabilidades2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.icono{
	font-size: 45px;/*para manejar el tamaño de los iconos */
	text-decoration: none;
	color:rgb(233, 96, 96); 
}
.letra{
	font-size: 18px;
	color: rgb(233, 96, 96);
}
.letra2{
	font-size: 14px;
	color: rgb(233, 96, 96);
}

.icono4{
    color: black;
	font-size: 16px;
}

@media(max-width:1300px){

    .grid2{
		grid-template-columns:repeat(2,0.25fr);
		justify-content: center;
	}
	.letra{
		font-size: 16px;
	}
	.horizontal a {
		font-size: 20px;
		padding: 0px;
		margin-left: 100px;
	}
	
	.icono{
		font-size: 35px;
	}
	
	nav{
		flex-direction: column;
	}
	p{
		font-size: 20px;
	}
	label{
		font-size: 14px ;
	}

}
@media(max-width:1120px){
	ul{
		display:none;
	}
	.hamburguer{
		display:block;
	}
	.mostrar{
		display: block;
	}

	
    .horizontal li {
		flex-direction: column;
		justify-content: center;
		float: inline-end;
		
		
	}
	#carouselExampleControls{
		display: none;
	}
	
	.fotos{
		display:grid;
		grid-template-columns:repeat(2,1fr);
		align-items: center;
	}
	.fot1{
		display: grid;
        grid-column: 1/2;
		margin: 5px;
	}
	.fot2{
		display: grid;
		grid-column: 2/3;
	}
	.grid1{
		grid-template-columns:repeat(2,1fr);
		justify-content: center;
	}
	img{
		width: 250px;
		height: 420px;
	}
	
	
	
}
@media(max-width:870px){
	.grid2{
		grid-template-columns: repeat(1,0.5fr);
	}
    .icono4{
		grid-column: 1/3;
	}
	h1{
		height: 175px;
		font-size: 3em;
	}
	#tamaño{
		height:300px;
		font-size: 3em;
	}
    h2{
		font-size: 3em;
	}
	.icono4{
		font-size: 12px;
	}
	.horizontal a {
		font-size: 16px;
		padding: 0px;
		margin-left: 0px;
	}
}
@media(max-width:751px){
	.fot1{
		display: none;
	}
	.fotos{
		display:grid;
		grid-template-columns:repeat(1,1fr);
		align-items: center;
	}
}
@media(max-width:600px){
	.horizontal a {
		font-size: 16px;
		padding: 0px;
		margin-left: 75px;
	}
}
