   /** {  (el * se usa para dar una orden general los estilos css de la pagina )
        box-sizing: border-box;
        margin: 5px;  (para elegir el margen deseado )
        padding: 0;(para elegir el relleno del cuerpo deseado) }*/
   

body {
	background-color:rgb(240, 204, 184); /* dar el fondo a la pantalla ,titulo,texto,etc */
	margin: 5px;
	display: flex;
	flex-direction: column;
}
h1{
	text-align:center; /* centrar el texto */
	color:rgb(235, 18, 18);/* dar color al texto */
	font-family:arial,sans serif; /* elegir la forma de las letras */
	font-size:5em; /*elegir el tamaño de las letras */
	margin: 0px 0px ;
	padding: 60px 20px;
	background-image: url(../img.ingles_facil/banderas.jpeg);/* para colocar de fondo una imagen*/
	background-size: cover; /* para que la imagen se acomode sola a las medidas de la pantallas*/
	background-attachment: fixed;/*para que quede fija y haga el efecto que se en en pantalla */
    background-position:35%; 
	height: 250px;/* establecer el alto del elemento el alto */
	text-shadow: 5px 2px black;/*para hacer la sombra a un texto*/
	display: block;
	
}
.video{
	max-width: 500px; /* para establecer el alto maximo del espacio a trabajar */
	border: 5px solid rgb(180, 41, 41); /* para establecer un borde*/
	margin: 50px ;
	box-shadow: 
	-5px -5px 10px rgb(231, 13, 231),
	3px 3px 10px blue;/*para hacer la sombra de elemento , el 3 elemento nos da la claridad de la sombra */
}
img {
	width: 350px;
	height: 450px;
}
h2{
	color:red;
	font-size: 5em;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 5px 2px blue;
}
p {
	color:rgb(0, 0, 0);
	font-family:sans serif;
	text-align:left;
	text-shadow: 1px 1px red;
	font-size:  27px;;
}
form{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.no-style{ 
	list-style-type:none; 
	margin:0;
	padding:0;
}
.horizontal li{
	display: flex;
	background-image:url(../img.ingles_facil/ingles_portada.jpeg);
	background-size: cover;
	background-position:35%; 
	float:left;
	margin: 0em 0em 2em 0em; /* em = 16 px */
	padding:2em 5em 2em 5em;
}
.horizontal a{
	margin:0em;
	color:rgb(28, 11, 124);
	text-align:center;
	padding:0em 2em 0em 2em; /*para darle mas relleno al cuerpo*/
	font-size: 28px;
	text-decoration: none; /* para sacarle el subrallado*/
	background-color: beige;
	
}
.horizontal a:hover,.horizontal a:active{ /* para que cuando el cursor pasa por encima esa palabra cambie de color*/
	background-color:blue
}